{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Home {% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'home_page' %}active{% endif %}"
                aria-current="page"
                href="{% url 'home_page' %}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'accounts_page' %}active{% endif %}"
                href="{% url 'accounts_page' %}"
                >Accounts</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'budget_page' %}active{% endif %}"
                href="{% url 'budget_page' %}"
                >Budget</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link {% if request.resolver_match.url_name == 'users_page' %}active{% endif %}"
                aria-disabled="true"
                href="{% url 'users_page' %}"
                >Users</a
              >
            </li>
          </ul>
        </div>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Log Out</button>
        </form>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      <h1>This is home page</h1>
      {% endblock %}
    </div>
    {% else %}
    <div class="container mt-5">
      <h2>Please log in.</h2>
      <a href="{% url 'login' %}" class="btn btn-outline-primary">Login</a>
    </div>
    {% endif %}
  </body>
</html>
