{% extends "layout.html" %} 


{% block title %} 
Budget 
{% endblock %} 


{% block content %}
<h1>BUDGET</h1>
<div class="d-flex justify-content-end mb-2">
    <a href="{% url 'add_budget' %}" class="btn btn-outline-primary">Add Item</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">SL No</th>
      <th scope="col">Categories</th>
      <th scope="col">Amount</th>
      <th scope="col">Months</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in budgets %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ item.category }}</td>
      <td>{{ item.amount }}</td>
      <td>{{ item.month }}</td>
      <td>
        <a href="#" class="btn btn-sm btn-outline-primary">Edit</a>
        <a href="{% url "delete_budget" pk=item.sl_no %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
